/* Global Css  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}
/* Main Section Style  */
.main-section{
    background-image: url(https://i.pinimg.com/originals/ca/82/12/ca82125c0ec71105aa02ee3730ecccbc.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    width: 100vw;
    height: auto;
}
.main-heading h3{
    text-align: center;
    font-size: 48px;
    padding: 40px 0;
    color: red;
    font-family: 'Iceland', cursive;
}
.main-heading span{
    font-family: 'Iceland', cursive;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.logo img{
    width: 295px;
    height: 290px;
}
/* Content Section Style  */
.content-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}
.we-are span{
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Iceland', cursive;
}
.we-are p > span{
    font-size: 1.2rem;
    font-family: 'Iceland', cursive;
}
.we-are p {
    font-size: 1.2rem;
    font-family: 'Iceland', cursive;
    margin-top: 8rem;
}
.text-white{
    color: #fff;
}
.text-black{
    color: #fff;
}
.text-red{
    color: red;
}
.text-green{
    color: #6AEE63;
}
.text-cyan{
    color: #00FFFF;
    font-size: 1.8rem;
    padding: 20px 0;
    text-align: center;
}
.text-orange{
    color: #FF9D2B;
}
audio{
    display: none;
}
@media (max-width: 575.98px) {
    .text-cyan{
        font-size: 1.5rem;
    }
}